.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 4rem;
}

.app-container h2 {
    color: blueviolet;
}

table {
    border-collapse: collapse;
    width: 800px;
    height: 50px;
}

th,
td {
    /* border: 1px solid #81e014; */
    border-radius: 0px;
    text-align: center;
    padding: 2px;
    font-size: 12px;
    color: black;
}

th {
    background-color: rgba(1, 1, 1, 0.635);
}

td {
    background-color: rgb(248, 247, 250);

}

form {
    display: flex;
    gap: 5px;
}

form td:last-child {
    display: flex;
    justify-content: space-evenly;
}

form * {
    font-size: 12px;
}


.button_add {
    background-color: rgb(81, 212, 49);
    border-radius: 10px;
    width: 50px;

}