#main_profile {
  background-color: rgb(248, 247, 250);
  background-image: none !important;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.profile_div {
  width: 600px;
  height: 300px;
  padding: 20px;
  background-color: skyblue;
  position: absolute;
  top: 50%;
  left: 60%;
  margin-left: -300px;
  margin-top: -150px;
  text-align: center;
}
